@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  #root {
    background-color: #1a202c;
  }
}

@media (prefers-color-scheme: light) {
  #root {
    background-color: #fff;
  }
}

html {
  scroll-behavior: smooth;
}
